{%- comment -%} 

    Custom map for IPA MHS Units

{%- endcomment -%}
{%- assign records = site.data.mhs-catalog | concat: site.data.ipa-mhs-archives | where_exp: 'item','item.objectid' -%}
{%- assign units = site.data.unit-map | where_exp: 'item','item.latitude != nil and item.longitude != nil' -%}

<!-- load leaflet dependencies -->
<script src="{{ '/assets/lib/leaflet/leaflet.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/Leaflet.fullscreen.min.js' | relative_url }}"></script>

<script>
(function(){
    /* add unit map data */
    // objectid,title,latitude,longitude,description,images_objectid,images_caption
    var geodata = { "type": "FeatureCollection", "features": [ 
    {% for item in units %}
    { "type":"Feature", "geometry":{ "type":"Point", "coordinates":[{{ item.longitude | strip }},{{ item.latitude | strip }}] }, "properties":
    { 
        {% assign images = item.images_objectid | split: ';' %}{% assign captions = item.images_caption | split: ';' %}
        {% for i in images %}{% assign img = records | where: 'objectid', i | first %}
        "image{{ forloop.index }}": "{{ img.image_thumb }}",
        "image{{ forloop.index }}_alt": "{{ img.title }}",
        "image{{ forloop.index }}_link": "{{ '/items/' | relative_url }}{% if img.parentid %}{{ img.parentid }}.html#{{ img.objectid }}{% else %}{{ img.objectid }}.html{% endif %}",
        "image{{ forloop.index }}_caption": {{ captions[forloop.index0] | jsonify }},
        {% endfor %}
        "description": {{ item.description | escape | jsonify }},
        "title": {{ item.title | escape | jsonify }},
        "id": {{ item.objectid | jsonify }} 
    } }{% unless forloop.last %}, {% endunless %}{% endfor %}
    ]};

    /* check for url parameters and set initial view options */ 
    let url = new URL(window.location);
    var mapCenter = url.searchParams.get('location') ? url.searchParams.get('location').split(',') : [{{ site.data.theme.latitude | default: 46.727485 }}, {{ site.data.theme.longitude | default: -117.014185 }}];
    var mapZoom = url.searchParams.get('location') ? 16 : {{ site.data.theme.zoom-level | default: 5 }};
    var markerFilter = url.searchParams.get('marker') ? url.searchParams.get('marker') : "";

    /* init map, set center and zoom */
    var map = L.map('map').setView(mapCenter, mapZoom);

    /* add map layer options */
    var Esri_WorldStreetMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    });
    var Esri_NatGeoWorldMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
        maxZoom: 16
    });
    var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });
    var OpenStreetMap_Mapnik = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    /* add base map switcher */
    var baseMaps = {
        "Esri World StreetMap": Esri_WorldStreetMap,
        "Esri National Geo": Esri_NatGeoWorldMap,
        "Esri Imagery": Esri_WorldImagery,
        "Open Street Map": OpenStreetMap_Mapnik
    };
    L.control.layers(baseMaps).addTo(map);
    /* load base map */
    OpenStreetMap_Mapnik.addTo(map);

    /* add fullscreen control */ 
    map.addControl(new L.Control.Fullscreen());

    /* object popup function */
    function objectPopups(feature, layer) {
        
        // set up popup content
        // id, title, description, image1, image1_link, image1_caption
        var popupTemplate = `<h2>${ feature.properties.title }</h2>
            <p>${ feature.properties.description }</p>
            <div class="my-2"><div class="row">`;
        if (feature.properties.image1) {
            popupTemplate += `<div class="col-md"><div class="card card-body h-100">
                    <img src="${ feature.properties.image1 }" class="img-fluid" alt="${ feature.properties.image1_alt }">
                    <p>${ feature.properties.image1_caption }</p>
                    <div class="text-center"><a href="${ feature.properties.image1_link }" class="btn btn-sm btn-info">View Item</a></div>
                </div></div>`;
        }
        if (feature.properties.image2) {
            popupTemplate += `<div class="col-md"><div class="card card-body h-100">
                    <img src="${ feature.properties.image2 }" class="img-fluid" alt="${ feature.properties.image2_alt }">
                    <p>${ feature.properties.image2_caption }</p>
                    <div class="text-center"><a href="${ feature.properties.image2_link }" class="btn btn-sm btn-info">View Item</a></div>
                </div></div>`;
        }
        popupTemplate += "</div></div>";
        layer.bindPopup(popupTemplate, { maxWidth: 500});

    }
    function objectMarkers(feature,latlng) {
        var marker = L.marker(latlng, {alt: feature.properties.title});
        return marker;
    }

    /* add objects from geoJson features */
    var mapFeatures = L.geoJson(geodata, {
        onEachFeature: objectPopups,
        pointToLayer: objectMarkers
    }).addTo(map);
    
    /* show popup if id in URL query */ 
    if (markerFilter != "") {
        mapFeatures.eachLayer(layer => {
            if (layer.feature.properties.id === markerFilter) {
                layer.openPopup();
            }
        });
    }

})();

</script>