{% if page.url == '/' %}
<style>
    #home-banner {
        background-image: url('https://objects.lib.uidaho.edu/ipa-mhs/01-06-124.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #home-title-box {
        padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
        padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    }
    @media screen and (max-width: 576px) {
        #home-title-box {
            max-height: 500px;
        }
    }
</style>
<div id="home-banner" class="container-fluid mb-0 p-0">
    <div id="home-title-box" class="position-relative" >
        <div class="p-2 text-center text-white bg-dark bg-opacity-75">
            <h1 class="display-4 mb-0 limelight-regular">MOSCOW HIGH SCHOOL</h1>
            <small class="fs-5 limelight-regular">Its History + Its Archaeology</small>
        </div>
    </div>
</div>
<div class="container">
    <nav id="site-nav">
        <ul class="nav justify-content-center">
            {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
            {% for nav in navItems %}
            {% if nav.stub %}
            <li class="nav-item">
                <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
            </li>
            {%- else -%}
            <li class="nav-item dropdown">
                {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                {%- assign childStubs = navChildren | map: 'stub' -%}
                <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                <div class="dropdown-menu">
                    {% for c in navChildren %}
                    <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            {%- endfor -%}
        </ul>
    </nav>
</div>
{% else %}
<div class="container">
    <header class="py-3 text-center">
        <h1 class="display-5 mb-0 limelight-regular">MOSCOW HIGH SCHOOL</h1>
        <small class="fs-5 limelight-regular">Its History + Its Archaeology</small>
    </header>

    <nav id="site-nav">
        <ul class="nav justify-content-center">
            {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
            {% for nav in navItems %}
            {% if nav.stub %}
            <li class="nav-item">
                <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
            </li>
            {%- else -%}
            <li class="nav-item dropdown">
                {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                {%- assign childStubs = navChildren | map: 'stub' -%}
                <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                <div class="dropdown-menu">
                    {% for c in navChildren %}
                    <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            {%- endfor -%}
        </ul>
    </nav>

</div>
{% endif %}