---
layout: page
title: Home
permalink: /
custom-foot: js/index-js.html
---

{% include feature/jumbotron.html objectid="https://objects.lib.uidaho.edu/ipa-mhs/01-06-124.jpg" %}

<div class="border rounded mb-3">
    <div id="imageCarousel" class="carousel slide rounded" data-bs-ride="carousel">
        <div id="carouselIndicators" class="carousel-indicators">
            
        </div>
        <div id="carouselInner" class="carousel-inner">
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<p class="lead">Think about some of the most formative experiences of your life-many of them might have to do with education (in all its forms)! Learning new things is how we grow, and for the town of Moscow, Idaho, Moscow High School (MHS) is a place where a lot of the community learned many of the lessons they carry with them today. Explore this exhibit, built around objects from MHS and interviews with Moscow residents, to learn more about community heritage at Moscow High School.</p>

<p>{% include feature/video.html objectid="https://youtu.be/4sfX-zb1nlE" caption="Hear from our archeologists 'What is Archeology?'"%}</p>

<p>{% include feature/video.html objectid="https://youtu.be/IH39nVgzZ64" caption="A brief history of MHS" %}</p>