---
title: Student and teacher daily routines at MHS
layout: page-narrow
permalink: /life.html
---

<p>Explore our curated stories of life at MHS told through the items we found and archival images.</p>

{% include feature/story-link.html objectid="ipa-mhs-025" heading="Hallways, Staircases, and Classrooms" text="Movement and Spaces at MHS (slides demo)" link="/spaces-slides.html" %}

{% include feature/story-link.html objectid="ipa-mhs-025" heading="Hallways, Staircases, and Classrooms" text="Movement and Spaces at MHS (essay demo)" link="/spaces.html" %}