---
title: Student and teacher daily routines at MHS
layout: page
permalink: /life.html
---

<h2>Life at Moscow High School</h2>

<p>Explore our curated stories of life at MHS told through the items we found and archival images.</p>

{% include feature/story-link.html objectid="ipa-mhs-070" heading="Common Colds and Clothing Clasps" text="Getting Ready for a Day at School" link1="/colds.html" %}

{% include feature/story-link.html objectid="ipa-mhs-025" heading="Writing Utensils, Friendship, and.. Status?" text="Exploring School Supplies at MHS" link1="/supplies.html" %}

{% include feature/story-link.html objectid="ipa-mhs-002" heading="Lost and Broken Things" text="What we Leave Behind at MHS" link1="/things.html" %}
