<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    
    <header class="py-3 text-center">
        <h1 class="display-5 mb-0 limelight-regular">MOSCOW HIGH SCHOOL</h1>
        <small class="fs-5 limelight-regular">Its History + Its Archaeology</small>
    </header>
    <div class="m-5 text-center"><a href="{{ '/life.html' | relative_url }}" class="btn btn-lg btn-outline-dark">Life at MHS</a></div>
    <main id="maincontent" role="main" class="flex-shrink-0">
      {{ content }}
    </main>
    {% include foot.html %}
  </body>
</html>